#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Set the colors for each tab */
#Accounts {
  --tab-color: red;
}

#Holdings {
  --tab-color: green;
}

#Ledger {
  --tab-color: blue;
}

#About {
  --tab-color: orange;
}

/* General Tab Button Styles */
.tablink {
  /* background-color: inherit;  */
  background-color: var(--tab-color, #555);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover Effect */
.tablink:hover {
  transform: scale(1.1); /* Scale the active button to make it appear larger */
}

/* Active Tab Button */
.tablink.active {
  /* background-color: #1104ca; */
 background-color: var(--tab-color, #555);
 transform: scale(1.1); /* Scale the active button to make it appear larger */
}

/* Make tab buttons responsive */
@media (max-width: 768px) {
  .tablink {
      width: 100%;
  }
}

/* Hide all tab content by default */
.tabcontent {
  display: none;
  min-height: 100px;
  padding: 20px;
  box-sizing: border-box;
  color: black; /* Ensure text is visible */
}

/* Show the active tab content */
.tabcontent.active {
  display: block;
  background-color: var(--tab-color, #555);
}
